/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 /* small fix to not show scrollbars, make insert section taller */
 .tag-generator-panel .insert-box {
     padding-left: 15px;
     padding-right: 15px;
     height: 90px;
 }
